<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/bootstrap-responsive.min.css" media="screen" />
</head>
<body>
<div class="">
<div class="offset0" align="center">
<div class="row-fluid"><h1 align="center">MAKE A POST<h1></div>
<form align="center" method="post" class="form-horizontal">
{% if post %}
<input type="hidden" name="id" value="{{post._id}}">
{% endif %}
<div class="span3">
<fieldset>
<div class="control-group"><label for="inputname"></label><input id="inputname" type="text" placeholder="NAME" name="author" value="{% if post %}{{post.author}}{% endif %}"><br></div>
<div class="control-group"><label for="inputtext"></label><input id="inputtext" type="text" placeholder="What've you to say?" name="text" value="{% if post %}{{post.text}}{% endif %}"><br></div>
<div class="control-group"><label for="inputtags"></label><input id="inputtags" type="text" placeholder="TAGS" name="tags" value="{% if post %}{{post.tags}}{% endif %}"></div>
<div class="span2"><button type="submit" class="btn">POST</button></div>
</fieldset>
</form>
</div>
</body>
</html>
