<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/bootstrap-responsive.min.css" media="screen" />
<head>
<body>
<h1 align="center">POSTS</h1>
<form align="right" method="post">search:<input type="text" name="searchparam">
<input type="submit" value="search"></form>
<h3 align=left><a href="/admin/new">Create a new post!</a> <a href="/logout">Logout</a></h3>

<hr>
{% for post in posts %}

<p><b>Author: </b>{{post.author}}</p>
<p>{{post.text}}<p>
<p><b>Tags: </b>{{post.tags}}<p>
<p><b>Posted: </b>{{post.date}}<p>
<p><b>ID: </b>{{post._id}}<p>
<a href="/admin/edit/{{post._id}}">Edit this post</a>
<a href="/posts/{{post._id}}">View this post</a>
<a href="/admin/delete/{{post._id}}">Delete this post</a>
<hr align=left width=05%>
{% endfor %}

</body>
</html>
