<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/bootstrap-responsive.min.css">
</head>
<body>
<h1 align=center>Sign up.</h1>
<form align=center method=post>
<input id="username" type=text placeholder="desired username" name="username"><br>
<input id="password" type=password placeholder="desired password" name="password"><br>
<input id="passwordconfirm" type=password placeholder="confirm password" name="passwordconfirm"><br>
<input type="submit" value="Register!">
</form>
</body>
</html>
